/scripts
/src
azure-pipelines.yml
.npmignore
.travis.yml
CHANGELOG.md
CODE_OF_CONDUCT.md
rollup.config.js
tsconfig.json
tsconfig.*.json
yarn-error.log
# do not include lock files in order to not restrict the typescript version
yarn.lock
package-lock.json
.dprintrc.json
.mocharc.yml
.vscode